<div class="about-heading-content">
  <div class="row">
    <div class="col-xl-9 col-lg-10 mx-auto">
      <div class="bg-faded rounded p-5">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Ethics & Compassion</span>
          <span class="section-heading-lower">About My Care</span>
        </h2>
        <p>Growing up in my hometown of Belgrade I was accustomed to seeing stray animals on a daily basis. At the age of five I rescued my 
          first pet from the side of the road. I was taught by my mother, the art of caring for and tending to rescues and by the time I became a woman those
          teaching have carried over into my every day life. I have rescued over 20 animals from the streets of Belgrade, Serbia and 1 from the United States and
          am now starting my own business in the animal care industry.</p>
        <p class="mb-0">Ethics & Compassion lay the foundation of this business and always ensure that any anmial, big or small, receive the proper care they deserve.</p>
      </div>
    </div>
  </div>
</div>
