<nav id="admin-menu" class="navbar navbar-expand-lg navbar-light">
  <div class="container">
      <ul class="navbar-nav ">
        <li class="nav-item px-lg-4">
          <%= link_to "Logout", { controller: "sessions", action: "logout" }, class: "nav-link text-expanded" %>
        </li>
      </ul>
    </div>
</nav>
