  <footer class="footer text-faded text-center py-4">
    <div class="container">
      <%= image_tag "vector/white-monochrome.svg", id: "logo", class: "mb-2" %>
      <p class="m-0 small">Copyright &copy; Tijana Apodaca 2019</p>
    </div>
  </footer>

