<div class="testimonial-slide">
  <div class="img-wrapper">
    <%= image_tag "christopher-apodaca.jpg", class: "testimonial-profile mb-2" %>
  </div>
  <p>Her thoughtfulness and respectful care for 
    animals makes her one of the most exceptional 
    trainers in the industry. I would highly recommend 
    Tijana both as a trainer as well as a professional 
    care taker</p>

  <h2 class="m-3 section-heading">
    <span class="section-heading-upper">Christopher Apodaca</span>
  </h2>
</div>

<div class="testimonial-slide">
  <div class="img-wrapper">
    <%= image_tag "christopher-apodaca.jpg", class: "testimonial-profile mb-2" %>
  </div>
  <p>Her thoughtfulness and respectful care for 
    animals makes her one of the most exceptional 
    trainers in the industry. I would highly recommend 
    Tijana both as a trainer as well as a professional 
    care taker</p>

  <h2 class="m-3 section-heading">
    <span class="section-heading-upper">Christopher Apodaca</span>
  </h2>
</div>

