<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for reaching out, <%= @contact.name %></h1>
    <p>
      Your pet is important to me, I will reach out to you 
      as soon as possible.
    </p>
    <p>
      if you need to contact me immediately feel free to reach
      out to me via phone: (737) 243-3030
    </p>
    <p>Thanks for contacting and have a great day!</p>
  </body>
</html>
