<main class="bg" id="content">
  <%= render "shared/site-heading" %>
  <%= render "shared/menu" %>

  <section class="page-section about-heading">
    <div class="container">
      <%= image_tag "slider/IMG-7317-scaled.jpg", class: "img-fluid rounded about-heading-img mb-3 mb-lg-0" %>

      <%= render "shared/about-snippet" %>
    </div>

  </section>
    
</main>
