<main class="gallery" id="content">
    <%= render "shared/site-heading" %>
    <%= render "shared/menu" %>
    

  <div id="gallery" class="m-2">
    <%= render "shared/gallery01" %> 
  </div>

</main>
