body{
  @include body-font;
  display: flex;
  flex-direction: column;

  >main{
    z-index:10;
    &:before{
        content:'';
        display:block;
        clear:both;
        margin:0;
        padding:0;
        width:100%;
        height:1px;
    }
  }
}

main.bg{
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), image-url( 'bg.jpg'  );
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

div{
  position: relative;
}

textarea,
input{
  position:relative;
  display:block;
  padding:5px;
  width:100%;

  &:focus{
    background: rgba(255,255,255,0.6);
    outline:none;
    border: 1px solid $primary;
  }
}

input{
  border: none;
  background: transparent;
  border-bottom: 1px solid brown;
  margin: 0 0 15px 0;
}

textarea{
  background: rgba(255,255,255,0.5);
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.minh-100{min-height:100vh;}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

.bg-video{
  position:fixed;
  width:100%;
  z-index:1;
}
.bg-video-overlay{
  z-index:5;
  position:fixed;
  height:100%;
  min-height:100vh;
  width:100%;
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65));
}

#login{
  margin: 0 auto;
  max-width: 600px;
  justify-self: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  input{
    display:block;
    width:100%;
    max-width:350px;
  }
  .btn{
    max-width:100px;
  }
}

.errors{
  list-style:none;
  color:$danger;
}

#errors{
  background: $danger;
  color:white;
  padding:10px;
  &:empty{
    display:none;
  }
}

#notice{
  background: $info;
  color:$white;
  padding:10px;
  &:empty{
    display:none;
  }
}

#admin-menu{
  position:fixed;
  width:100%;
  z-index:100;
  background: $white;
  border-bottom: $primary 1px solid;

}

#contact-form{
  z-index:10;
  position:relative;
  display:block;
}

#logo{
  width:100%;
  max-width:300px;
}

#logo-isolated{
  width:100%;
  max-width:75px;
}
